[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Statsomat"]
	path = Statsomat
	url = https://github.com/cran/Statsomat
	shallow = true
	registered = true
